
.cart-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title {
    font-size: var(--font-size-medium);
    color: var(--color-red);
    font-family: var(--font-family-bold);
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}
.empty-cart p {
    color: var(--color-rose-500);
    font-family: var(--font-family-semibold);
    font-size: var(--font-size-smallest);
    line-height: var(--line-height-3);
}

ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}
ul > div,
.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}
li > p {
    font-size: var(--font-size-smallest);
    color: var(--color-rose-900);
    font-family: var(--font-family-semibold);
}
.purchase-details {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    font-size: var(--font-size-smallest);
}
.num-of-orders,
.unit-price,
.total-unit-price {
    font-size: var(--font-size-smallest);
    font-family: var(--font-family-semibold);
}
.num-of-orders,
.total-unit-price {
    font-family: var(--font-family-semibold);
}
.num-of-orders {
    color: var(--color-red);
    
}
.unit-price {
    font-family: var(--font-family-regular);
    color: var(--color-rose-500);
}
.total-unit-price {
    color: var(--color-rose-500);
}
.order-total {
    font-family: var(--font-family-regular);
    color: var(--color-rose-900);
}
.order-total p:last-child {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-bold);
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-rose-50);
    padding: 1.5rem;
    border: none;
    border-radius: var(--spacing-100);
}
.message p {
    color: var(--color-rose-900);
    font-size: var(--font-size-smallest);
    font-family: var(--font-family-regular);
}
.message strong {
    font-family: var(--font-family-bold);

}

button {
    cursor: pointer;
}
.confirm-order {
    width: 100%;
    height: fit-content;
    padding: var(--spacing-200);
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: var(--color-red);
    font-size: var(--font-size-small);
    color: var(--color-white);
    font-family: var(--font-family-semibold);
}



/* close button */
.close-btn {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid var(--color-rose-400);
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn svg {
    width: 50%;
    height: 50%;
}
.close-btn path {
    fill: #CAAFA7
}
.close-btn:hover path {
    fill: var(--color-black);
}

hr {
    height: 1px;
    background-color: var(--color-rose-100);
    
}