<h1 class="title">
    Your Cart ({{ length$ | async}})
</h1>

<section class="detail">
    <!-- @if(isCartEmpty) { -->
    @if(!(isCartEmpty | async)) {
        <div class="empty-cart">
            <img src="../../../assets/images/illustration-empty-cart.svg" alt="image of an empty cart, when cart is empty">
    
            <p>
                Your added items will appear here
            </p>
        </div>

    } @else {
        <div class="cart-content">
            <!-- select product item(s) -->
            <ul>
                @for (order of data | async; track $index) {
                    <div>
                        <li>
                            <p class="product-name">
                                {{order.name}}
                            </p>
                            <div class="purchase-details">
                                <p class="num-of-orders">{{order.quantityCount}}x</p>
                                <p class="unit-price">&#64;{{ order.price | currency }}</p>
                                <p class="total-unit-price">{{(order.price ?? 0) * order.quantityCount}}</p>
                            </div>
                        </li>
                        <button class="close-btn" (click)="removeItem(order.productId)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10"><path d="M8.375 9.375 5 6 1.625 9.375l-1-1L4 5 .625 1.625l1-1L5 4 8.375.625l1 1L6 5l3.375 3.375-1 1Z"/></svg>
                        </button>
                    </div>

                }
                <!-- <div>
                    <li>
                        <p class="product-name">
                            Classic Tiramisu
                        </p>
                        <div class="purchase-details">
                            <p class="num-of-orders">1x</p>
                            <p class="unit-price">$15.00</p>
                            <p class="total-unit-price">15.00</p>
                        </div>
                    </li>
                    <button class="close-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10"><path d="M8.375 9.375 5 6 1.625 9.375l-1-1L4 5 .625 1.625l1-1L5 4 8.375.625l1 1L6 5l3.375 3.375-1 1Z"/></svg>
                    </button>
                </div> -->
            </ul>

            <hr>

            <!-- order total -->
            <section class="order-total">
                <p>
                    Order Total
                </p>
                <p>
                    <!-- {{ price | currency }} -->
                    $44.59
                </p>
            </section>
            <!-- message -->
            <section class="message">
                <!-- svg -->
                <img src="../../../assets/images/icon-carbon-neutral.svg" alt="svg icon to signify carbon-neutral delivery">
                <p>
                    This is 
                    <strong>
                        a carbon-neutral
                    </strong>
                    delivery
                </p>
            </section>

            <!-- confirm order button -->
            <button class="confirm-order" (click)="confirmOrder()" (keypress)="handleConfirmation($event)">
                Confirm order
            </button>
        </div>

    }


</section>