.product-category-name {
    color: var(--color-rose-900);
    font-size: var(--font-size-large);
    line-height: var(--line-height-1);
    margin-bottom: var(--spacing-400);
    font-family: var(--font-family-bold);

}

.product-card-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 1.5rem;

}

app-shopping-card {
    width: 100%;
}

