<!-- <section class="product-banner">
    <!-- img --

    <!-- description --

    <!-- relative price --
</section> -->
<h1>
    Local Store
</h1>

<!-- categories -->
<section class="categories">
    <h2>
        Categories
    </h2>

    <div class="categories-container">
        <!-- dessert -->
        <div class="category-card">
            <img src="../../../assets/images/dessert-1.jpeg" alt="dessert image for dessert category">

            <!-- button -->
            <button  [routerLink]="'dessert'">
                Explore 
            </button>
            
        </div>

        <!-- male collections -->

        <!-- female collections -->
    </div>
    
</section>