/* app-shopping-items {
    flex: 3 0 800px;
    height: fit-content;
    display:
} */

app-shopping-items {
    margin-bottom: var(--spacing-400);
    display: flex;
    flex-direction: column;
}

app-cart {
    flex: 1 0;
    padding: 1.5rem;
    height: fit-content;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--spacing-150);
}

app-cart {
    background-color: var(--color-white);
    border-radius: var(--spacing-100);
    height: fit-content;
    display: block;
    width: 100%;
    border: none;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: var(--spacing-300);
}

app-confirm-order-modal {
    width: 100%;
    height: 100dvh;
    background: #000a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
}


router-outlet {
    display: none;
}

@media screen and (min-width: 580px) {
    app-confirm-order-modal {
        align-items: center;
    }
}


