@for (product of productList; track $index) {
<div class="card-item">
  <section class="top-section">
    <img
      src="../../../assets/images/image-baklava-mobile.jpg"
      alt="image of {{ product.name }}"
    />
    <div class="add-to-cart-container">
        @if (!addToCartIsClicked) {
            <button class="addToCart-btn" (click)="addProductToCart()">
              <!-- svg icon -->
              <img
                src="../../../assets/images/icon-add-to-cart.svg"
                alt="svg icon for add to cart button"
              />
              Add to cart
            </button>
    
        }@else {
            <div class="order-quantity">
                <!-- decrease -->
                <button class="decrease">
                    <img src="../../../assets/images/icon-decrement-quantity.svg" alt="svg icon to decrease order quantity">
                </button>
                <!-- quantity -->
                <p>1</p>
                <!-- increase -->
                <button class="increase">
                    <img src="../../../assets/images/icon-increment-quantity.svg" alt="svg icon to increase order quantity">
                </button>
            </div>
        }

    </div>
  </section>

  <section class="bottom-section">
    <!-- category -->
    <p class="category">
      {{ product.category }}
    </p>
    <!-- name -->
    <p class="name">
      {{ product.name }}
    </p>
    <!-- price -->
    <p class="price">
      ${{ product.price }}
    </p>
  </section>
</div>

}
