<!-- @for (product of productList; track product.id) { -->
<div class="card-item">
  <section class="top-section">
    <img
      src="../../../{{product.image.mobile}}"
      alt="image of {{ product.name }}"
    />
    <div class="add-to-cart-container">
        @if (!addToCartIsClicked) {
        <!-- @if (addProductToCart(product.id)) { -->
        <!-- @if (!isProductSelected(product.id)) { -->
        <!-- @if (!cartState.get(product.id)) { -->
            <button class="addToCart-btn" (click)="onAddToCart(product.name)">
              <!-- svg icon -->
              <img
                src="../../../assets/images/icon-add-to-cart.svg"
                alt="svg icon for add to cart button"
              />
              Add to cart
            </button>
    
        }@else {
            <div class="order-quantity">
                <!-- decrease -->
                <button class="decrease" (click)="onReduceProductQuantity(product.name)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" fill="none" viewBox="0 0 10 2"><path fill="currentColor" d="M0 .375h10v1.25H0V.375Z"/></svg>
                </button>
                <!-- quantity -->
                @for (product of orderData | async; track $index) {
                  <p>{{ product.quantityCount }}</p>
                  
                }
                <!-- <p>{{orderQuantity}}</p> -->
                <!-- increase -->
                <button class="increase" (click)="onIncreaseProductQuantity(product.name)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10"><path fill="currentColor" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/></svg>
                </button>
            </div>
        }

    </div>
  </section>

  <section class="bottom-section">
    <!-- category -->
    <p class="category">
      {{ product.category }}
    </p>
    <!-- name -->
    <p class="name">
      {{ product.name }}
    </p>
    <!-- price -->
    <p class="price">
      {{ product.price | currency }}
    </p>
  </section>
</div>

<!-- } -->
