/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RedHatText-Bold';
    src: url(./assets/fonts/RedHatText-Bold.ttf);
}
@font-face {
    font-family: 'RedHatText-SemiBold';
    src: url(./assets/fonts/RedHatText-SemiBold.ttf);
}
@font-face {
    font-family: 'RedHatText-Regular';
    src: url(./assets/fonts/RedHatText-Regular.ttf);
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-red: #C73B0F;
    --color-rose-900: #260F08;
    --color-rose-500: #87635A;
    --color-rose-400: #AD8A85;
    --color-rose-300: #CAAFA7;
    --color-rose-100: #F5EEEC;
    --color-rose-50: #FCF8F6;
    --color-green: #1EA575;

    /* TEXT */
    --font-family-bold: 'RedHatText-Bold';
    --font-family-semibold: 'RedHatText-SemiBold';
    --font-family-regular: 'RedHatText-Regular';
    
    --font-size-large: 56px;
    --font-size-medium: 24px;
    --font-size-small: 16px;
    --font-size-smallest: 14px;

    --line-height-1: 120%;
    --line-height-2: 125%;
    --line-height-3: 150%;

    /* SPACING */
    --spacing-1100: 88px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

body {
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    background: var(--color-rose-50);
    color: var(--color-black);
}

/* app-root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;

    width: min(1260px, 90%);
    height: 100%;
    margin: 0 auto;
} */
/* app-root {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;

    width: min(1260px, 90%);
    height: 100%;
} */

button {
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
}