<div class="modal-container">
    <img src="../../../assets/images/icon-order-confirmed.svg" alt="order confirmed svg icon">

    <div class="order-description">
        <h1>
            Order Confirmed
        </h1>
        <p>We hope you enjoy your food!</p>
    </div>
    <ul class="confirmed-orders-list">
        @for (item of data | async ; track $index) {
            <div class="list-container">
                <div>
                    <!-- img -->
                    <img src="../../../assets/images/image-baklava-desktop.jpg" alt="image of ordered product">
                    <!-- order details -->
                    <li>
                        <p>
                            {{ item.name}}
                        </p>
                        <div>
                            <p class="quantity">x{{item.quantityCount}}</p>
                            <p class="unit-price"> &#64; {{item.price | currency}}</p>
                        </div>
                    </li>
                    <!-- price -->
                    <p class="quantity-price">
                        {{(item.price ?? 0) * item.quantityCount | currency }}
                    </p>
                </div>
                <hr>
    
            </div>

        }
        

        <div class="total">
            <p>Order Total</p>
            <p class="total-amount">
                {{ (totalPrice$ | async) | currency }}
            </p>
        </div>
    </ul>
    <button class="new-order" (click)="startNewOrder()">
        Start New Order
    </button>
</div>